.footer {
  margin-top: auto;
  display: flex;
  align-items: end;
  padding: 3rem 5rem 3.5rem 5rem;
  background-color: var(--color-dark--1);
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}
